<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="img-thumbnail rounded-circle" width="200" src="img/azis.png" alt="Azis">
      <h1 class="display-4">Abdurrohman Azis</h1>
      <p class="lead">Fullstack Dev - Student</p>
    </div>
  </div>
</div>