<div class="jumbotron d-flex  flex-column justify-content-center h-100">
  <h1 class="display-4">Welcome to ContactEase!</h1>
  <p class="lead">Your one-stop contact management solution.</p>
  <hr class="my-4">
  <p>Organize your contacts with ease and keep your important connections close at hand.</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">View Contacts</a>
  </div>
</div>